
    html, body {
      height: 100%;
      margin: 0;
      background-color: #008dc9
      }
  
      header {
      grid-column: 1/-1;
      }
  
      .app {
      height: 100%;
      display: grid;
      grid-template-rows: 45px 1fr;
      grid-template-columns: 200px 1fr;
      }
  
      #map {
      width:100%; 
      height:100%  ;
      }